@font-face {
  font-family: 'ChevinLight';
  src: url("../fonts/chevinstd-light-webfont.eot");
  src: url("../fonts/chevinstd-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/chevinstd-light-webfont.woff") format("woff"), url("../fonts/chevinstd-light-webfont.ttf") format("truetype"), url("../fonts/chevinstd-light-webfont.svg#chevin_std_lightregular") format("svg");
  font-weight: 100 !important;
  font-style: normal; }

@font-face {
  font-family: 'ChevinLightItalic';
  src: url("../fonts/chevinstd-lightitalic-webfont.eot");
  src: url("../fonts/chevinstd-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/chevinstd-lightitalic-webfont.woff") format("woff"), url("../fonts/chevinstd-lightitalic-webfont.ttf") format("truetype"), url("../fonts/chevinstd-lightitalic-webfont.svg#chevin_std_lightitalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ChevinMedium';
  src: url("../fonts/chevinstd-medium-webfont.eot");
  src: url("../fonts/chevinstd-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/chevinstd-medium-webfont.woff") format("woff"), url("../fonts/chevinstd-medium-webfont.ttf") format("truetype"), url("../fonts/chevinstd-medium-webfont.svg#chevin_std_mediumregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ChevinMediumitalic';
  src: url("../fonts/chevinstd-mediumitalic-webfont.eot");
  src: url("../fonts/chevinstd-mediumitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/chevinstd-mediumitalic-webfont.woff") format("woff"), url("../fonts/chevinstd-mediumitalic-webfont.ttf") format("truetype"), url("../fonts/chevinstd-mediumitalic-webfont.svg#chevin_std_mediumitalic") format("svg");
  font-weight: normal;
  font-style: normal; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  background: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  colour: #000023;
  line-height: 1.5em;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden; }
  html.grid {
    background: url(../images/grid.png) center 0px repeat white; }

p, pre {
  margin: 0 0 24px 0;
  margin: 0 0 1.5rem 0;
  font-style: normal; }
  p.subheading, pre.subheading {
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 200; }

.heading {
  font-family: "ChevinLight", Helvetica, Arial, sans-serif; }

.body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.italic {
  font-style: italic; }

.strong {
  font-weight: bold; }

h1 {
  display: block;
  font-family: "ChevinLight", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-size: 2rem;
  line-height: 48px;
  line-height: 3rem;
  margin: 0 0 24px;
  margin: 0 0 1.5rem;
  text-rendering: optimizelegibility; }
  h1:first-child {
    margin: 0 0 24px;
    margin: 0 0 1.5rem; }
  h1 span {
    display: block;
    color: #969696;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 36px;
    line-height: 2.25rem;
    margin: 12px 0 0;
    margin: 0.75rem 0 0;
    font-weight: normal;
    font-style: normal; }

h2 {
  display: block;
  font-family: "ChevinLight", Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 48px;
  line-height: 3rem;
  margin: 0 0 24px;
  margin: 0 0 1.5rem;
  text-rendering: optimizelegibility; }
  h2:first-child {
    margin: 0 0 24px;
    margin: 0 0 1.5rem; }

h3 {
  display: block;
  font-family: "ChevinLight", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 30px;
  line-height: 1.875rem;
  margin: 0 0 18px;
  margin: 0 0 1.125rem;
  text-rendering: optimizelegibility; }

h4 {
  display: block;
  font-family: "ChevinLight", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 24px;
  line-height: 1.5rem;
  margin: 0 0 0px;
  margin: 0 0 0px;
  text-rendering: optimizelegibility; }

h5 {
  display: block;
  font-family: "ChevinLight", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem;
  margin: 0 0 0px;
  margin: 0 0 0px;
  text-rendering: optimizelegibility; }

h6 {
  display: block;
  font-family: "ChevinLight", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  margin: 0 0 0px;
  margin: 0 0 0px;
  text-rendering: optimizelegibility; }

a:link, a:visited {
  color: #0c6dcc;
  text-decoration: none; }

a:hover {
  color: underline;
  color: #000023;
  text-decoration: underline; }

hr {
  clear: both;
  display: block;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #eeeeee;
  margin: 23px 0;
  margin: 1.4375rem 0;
  line-height: 24px;
  line-height: 1.5rem; }

a#show-grid {
  position: fixed;
  bottom: 10px;
  right: 10px; }

blockquote {
  font-family: ChevinLight;
  font-size: 20px;
  font-size: 1.25rem;
  margin: 12px 40px;
  margin: 0.75rem 2.5rem; }

.btn {
  display: inline-block;
  position: relative;
  font-size: 16px;
  font-size: 1rem;
  font-family: "ChevinMedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: #fcfcfc;
  padding: 5px 12px;
  padding: 0.3125rem 0.75rem;
  margin: 8px 0;
  margin: 0.5rem 0;
  border-radius: 5px; }
  .btn.large {
    font-size: 20px;
    font-size: 1.25rem;
    margin: 7px 0;
    margin: 0.4375rem 0;
    padding: 4px 12px;
    padding: 0.25rem 0.75rem; }

a.btn {
  text-decoration: none; }
  a.btn:hover {
    text-decoration: underline; }

.btn-std {
  background: #fcfcfc;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZmRmZGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  *background: #fcfcfc;
  background: -moz-linear-gradient(top, #fcfcfc 0%, #dfdfdf 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #dfdfdf));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fcfcfc 0%, #dfdfdf 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fcfcfc 0%, #dfdfdf 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fcfcfc 0%, #dfdfdf 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fcfcfc 0%, #dfdfdf 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#dfdfdf',GradientType=0 );
  /* IE6-8 */
  border-color: #cccccc; }
  .btn-std:hover, .btn-std:active {
    background: #eeeeee;
    border-color: #cccccc; }

.btn-blue {
  background: #0c66be;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1N2FhNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ4JSIgc3RvcC1jb2xvcj0iIzQ1N2FhNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUzJSIgc3RvcC1jb2xvcj0iIzQyNzQ5ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYzZhOTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  *background: #0c66be;
  background: -moz-linear-gradient(top, #457aa7 0%, #457aa6 48%, #42749f 53%, #3c6a91 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #457aa7), color-stop(48%, #457aa6), color-stop(53%, #42749f), color-stop(100%, #3c6a91));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #457aa7 0%, #457aa6 48%, #42749f 53%, #3c6a91 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #457aa7 0%, #457aa6 48%, #42749f 53%, #3c6a91 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #457aa7 0%, #457aa6 48%, #42749f 53%, #3c6a91 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #457aa7 0%, #457aa6 48%, #42749f 53%, #3c6a91 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#457aa7', endColorstr='#3c6a91',GradientType=0 );
  /* IE6-8 */
  border-color: #0c66be;
  color: white; }
  .btn-blue:hover, .btn-blue:active {
    background: #3c6a91;
    border-color: #084887; }

.btn-green {
  background: #60c659;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVmYmE1YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ4JSIgc3RvcC1jb2xvcj0iIzVmYmE1YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUzJSIgc3RvcC1jb2xvcj0iIzVjYjQ1NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1M2EyNGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  *background: #60c659;
  background: -moz-linear-gradient(top, #5fba5a 0%, #5fba5a 48%, #5cb457 53%, #53a24e 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5fba5a), color-stop(48%, #5fba5a), color-stop(53%, #5cb457), color-stop(100%, #53a24e));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #5fba5a 0%, #5fba5a 48%, #5cb457 53%, #53a24e 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #5fba5a 0%, #5fba5a 48%, #5cb457 53%, #53a24e 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #5fba5a 0%, #5fba5a 48%, #5cb457 53%, #53a24e 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #5fba5a 0%, #5fba5a 48%, #5cb457 53%, #53a24e 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5fba5a', endColorstr='#53a24e',GradientType=0 );
  /* IE6-8 */
  border-color: #4fa349;
  color: white; }
  .btn-green:hover, .btn-green:active {
    background: #4fa349;
    border-color: #3e803a; }

.btn-yellow {
  background: #ffc61e;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmYjMzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ4JSIgc3RvcC1jb2xvcj0iI2VkYjIzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUzJSIgc3RvcC1jb2xvcj0iI2U0YWIzMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGE2MmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  *background: #ffc61e;
  background: -moz-linear-gradient(top, #efb333 0%, #edb233 48%, #e4ab31 53%, #dda62f 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efb333), color-stop(48%, #edb233), color-stop(53%, #e4ab31), color-stop(100%, #dda62f));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #efb333 0%, #edb233 48%, #e4ab31 53%, #dda62f 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #efb333 0%, #edb233 48%, #e4ab31 53%, #dda62f 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #efb333 0%, #edb233 48%, #e4ab31 53%, #dda62f 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #efb333 0%, #edb233 48%, #e4ab31 53%, #dda62f 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efb333', endColorstr='#dda62f',GradientType=0 );
  /* IE6-8 */
  border-color: #dda62f;
  color: white; }
  .btn-yellow:hover, .btn-yellow:active {
    background: #dda62f;
    border-color: #c29229; }

header[role=banner] {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  background: white; }
  header[role=banner] nav[role=navigation] {
    width: 945px;
    width: 59.0625rem; }
    header[role=banner] nav[role=navigation] ol {
      margin: 5px;
      margin: 0.3125rem;
      list-style-type: none; }
      header[role=banner] nav[role=navigation] ol li {
        float: left;
        font-weight: normal;
        margin: 0;
        font-size: 13px;
        font-size: 0.8125rem; }
        header[role=banner] nav[role=navigation] ol li a {
          text-decoration: none;
          display: block;
          padding: 0 12px;
          padding: 0 0.75rem;
          margin: 0 4px;
          margin: 0 0.25rem;
          border-radius: 5px; }
          header[role=banner] nav[role=navigation] ol li a:hover {
            background: #eeeeee; }
          header[role=banner] nav[role=navigation] ol li a.active {
            background: #084887;
            color: white; }

body:not(.home) .container[role=main] {
  padding-top: 48px; }

.container {
  position: relative;
  margin: 0 auto;
  width: 945px; }
