.btn {
  display: inline-block;
  position: relative;
  @include rem-fallback(font-size, 1);
  font-family: $chevin_medium;
  font-weight: normal;
  text-align: center;
  color: $grey;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  outline: 0;
  background-color: #fcfcfc;
  @include rem-fallback(padding, 0.75, 1); //12px
  @include rem-fallback(line-height, 1);
  @include rem-fallback(margin, 0.25, 0); //4px
  border-radius: $radius;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.08) inset;
  box-shadow: 0 0 0 1px rgba(0,0,0,.08) inset;
  @include mid_grey_gradient;
  border-color: $mid_grey;
  &:hover, &:active {
    background: $light_grey;
    border-color: $mid_grey;
    color: $dark_grey;
    }
  &.fluid {
    width: 100%;
  }
  &.circular {
    border-radius: 10em;
  }
  &.icon {
    @include rem-fallback(line-height, 0.8);
  }
  &.small {
    @include rem-fallback(font-size, 0.75);
    @include rem-fallback(padding, 0.625, 0.75);
    @include rem-fallback(margin, 0.5, 0);
    @include rem-fallback(line-height, 0.75);
  }
  &.large {
    @include rem-fallback(font-size, 1.25);
    @include rem-fallback(padding, 0.875, 1.25);
    @include rem-fallback(margin, 0);
    @include rem-fallback(line-height, 1.25);
  }
}











a.btn {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}


.btn-blue {
  @include blue_gradient;
  color: $white;
  &:hover, &:active {
    background: $dark_blue;
    color: $white;
  }
}

.btn-green {
  @include green_gradient;
  color: $white;
  &:hover, &:active {
    background: $mid_green;
    color: $white;
  }
}

.btn-yellow {
  @include yellow_gradient;
  color: $white;
  &:hover, &:active {
    background: $mid_yellow;
    color: $white;
  }
}
