p, pre {
  @include rem(margin, 0 0 24px 0);
  font-style: normal;
  &.subheading {
    @include rem(font-size, 20px);
    font-weight: 200;
  }
  &.highlight {
    position: relative;
    font-weight: normal;
    @include green_gradient;
    @include rounded;
    font-family: ChevinLight;
    @include rem-fallback(font-size, 1.25);
    @include rem-fallback(padding, 1.5);
    width: 30%;
    float: right;
    color: $white;
    @include rem-fallback(margin, 0, 0.5, 0, 1);
    & a {
      color: $white;
      text-decoration: underline;
      &:hover {
      color: $white;
      text-decoration: none;
      }
    } 
  }
  &.callout {
    overflow: hidden;
    background-color: transparent;
    background-color: rgba(96,198,89,0.2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3360C659,endColorstr=#3360C659);
    zoom: 1;
    @include rem(padding, 24px);
    border-left: 6px solid $green;
    @include rounded;
    @include rem(margin, 0 0 24px 0);
  }
}

.heading {
  font-family: $heading_font;
}

.body {
  font-family: $body_font;
}

.italic {
  font-style: italic;
}

.strong {
  font-weight: bold;
}

h1 {
  display: block;
  font-family: $heading_font;
  @include rem-fallback(font-size, 2);
  @include rem-fallback(line-height, 3);
  @include rem-fallback(margin, 0, 0, 1.5);
  text-rendering: optimizelegibility;
  &:first-child {
    @include rem-fallback(margin, 0, 0, 1.5);
  }
  span {
    display: block;
    color: $grey;
    @include rem-fallback(font-size, 1.5);
    @include rem-fallback(line-height, 1.5);
    font-weight: normal;
    font-style: normal;
    &.inline {
    display: inline
    }
  }
}


h2 {
  display: block;
  font-family: $heading_font;
  @include rem(font-size, 28px);
  @include rem-fallback(line-height, 3);
  @include rem-fallback(margin, 0, 0, 1.5);
  text-rendering: optimizelegibility;
  &:first-child {
    @include rem-fallback(margin, 0, 0, 0, 1.5);
  }
}

h3 {
  display: block;
  font-family: $heading_font;
  @include rem-fallback(font-size, 1.5);
  @include rem-fallback(line-height, 1.875);
  @include rem-fallback(margin, 0, 0, 1.125);
  text-rendering: optimizelegibility;
}

h4 {
  display: block;
  font-family: $heading_font;
  @include rem-fallback(font-size, 1.375);
  @include rem-fallback(line-height, 1.5);
  margin: 0;
  text-rendering: optimizelegibility;
}

h5 {
  display: block;
  font-family: $heading_font;
  @include rem-fallback(font-size, 1.125);
  @include rem-fallback(line-height, 1.5);
  margin:0;
  text-rendering: optimizelegibility;
}

h6 {
  display: block;
  font-family: $heading_font;
  @include rem-fallback(font-size, 1);
  @include rem-fallback(line-height, 1.5);
  margin:0;
  text-rendering: optimizelegibility;
}

// links
a:link, a:visited {
  color: $link;
  text-decoration: none;
}

a:hover {
  color: $hover;
  color: $black;
  text-decoration: underline;
}

small {
  @include rem-fallback(font-size, 0.85);
}

time {
  @include rem-fallback(font-size, 0.875);
  margin: 0;
  color: $dark_grey;
}



a#show-grid {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

blockquote {
  font-family: ChevinLight;
  @include rem-fallback(font-size, 1.25);
  @include rem-fallback(margin, 0.75, 2.5);
}

hr {
  clear: both;
  display: block;
  padding: 0;
  border: 0;
  border-bottom: 1px solid $light_grey;
  @include rem-fallback(margin, (($baseline - 1) / $base_font_size), 0);
  @include rem-fallback(line-height, 1.5);
  }