@font-face {
  font-family: 'ChevinLight';
  src: url('../fonts/chevinstd-light-webfont.eot');
  src: url('../fonts/chevinstd-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/chevinstd-light-webfont.woff') format('woff'),
       url('../fonts/chevinstd-light-webfont.ttf') format('truetype'),
       url('../fonts/chevinstd-light-webfont.svg#chevin_std_lightregular') format('svg');
  font-weight: 100 !important;
  font-style: normal;
}

@font-face {
  font-family: 'ChevinLightItalic';
  src: url('../fonts/chevinstd-lightitalic-webfont.eot');
  src: url('../fonts/chevinstd-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/chevinstd-lightitalic-webfont.woff') format('woff'),
       url('../fonts/chevinstd-lightitalic-webfont.ttf') format('truetype'),
       url('../fonts/chevinstd-lightitalic-webfont.svg#chevin_std_lightitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ChevinMedium';
  src: url('../fonts/chevinstd-medium-webfont.eot');
  src: url('../fonts/chevinstd-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/chevinstd-medium-webfont.woff') format('woff'),
       url('../fonts/chevinstd-medium-webfont.ttf') format('truetype'),
       url('../fonts/chevinstd-medium-webfont.svg#chevin_std_mediumregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ChevinMediumitalic';
  src: url('../fonts/chevinstd-mediumitalic-webfont.eot');
  src: url('../fonts/chevinstd-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/chevinstd-mediumitalic-webfont.woff') format('woff'),
       url('../fonts/chevinstd-mediumitalic-webfont.ttf') format('truetype'),
       url('../fonts/chevinstd-mediumitalic-webfont.svg#chevin_std_mediumitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}