@import "_variables.scss";
@import "_mixins.scss";
@import "fonts";

*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
 }

@import "normalize.scss";

html{
  background: $white;
  font-family: $body_font;
  font-weight: normal;
  font-size: $base_font_size;
  colour: $black;
  line-height: 1.5em;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  &.grid {
    background: url(../images/grid.png) center 0px repeat $white;
   }
 }

@import "elements.scss";
@import "buttons.scss";
@import "lists.scss";
@import "forms.scss";
@import "nav.scss";
@import "tables.scss";

@import "path";
@import "core";
@import "larger";
@import "fixed-width";
@import "list";
@import "bordered-pulled";
@import "spinning";
@import "rotated-flipped";
@import "stacked";
@import "icons";
